@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
	font-family: var(--font-bebas);
	@apply text-3xl sm:text-4xl;
}

h2 {
	font-family: var(--font-bebas);
	@apply text-2xl sm:text-3xl;
}

h3 {
	font-family: var(--font-bebas);
	@apply text-xl md:text-2xl;
}

h4 {
	font-family: var(--font-gilroy-bold);
	@apply text-xl;
}

h5 {
	font-family: var(--font-gilroy-bold);
	@apply text-lg;
}

h6 {
	@apply text-md;
}

h1,
h2,
h3 {
	line-height: 1.25;
}

a {
	font-family: var(--font-gilroy-bold);
	font-size: 1rem;
}

a:hover,
a:focus,
a:focus-visible {
	@apply whitespace-nowrap text-primary outline-none;
}

@layer base {
	* {
		@apply border-border;
	}

	html {
		scroll-behavior: smooth;
		scroll-padding-top: 120px;
	}

	body {
		@apply min-h-screen w-screen overflow-x-clip bg-white text-dark;
		@apply selection:bg-dark selection:text-primary;

		font-size: 16px;
		font-family: var(--font-gilroy);
	}
}

@layer utilities {
	/* Chrome, Safari and Opera */
	.scrollbar-hidden::-webkit-scrollbar {
		display: none;
	}

	.scrollbar-hidden {
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none; /* IE and Edge */
	}

	.img {
		top: -30vw;
	}
	@media (min-width: 1000px) and (max-width: 1300px) {
		.img {
			left: 10%;
		}
	}

	@media (min-width: 1300px) and (max-width: 1500px) {
		.img {
			left: 17%;
		}
	}
	@media (min-width: 1500px) and (max-width: 1920px) {
		.img {
			left: 22%;
		}
	}

	@media (min-width: 1920px) {
		.img {
			left: 25%;
			top: -25vw;
		}
	}
}
