@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--white: 0 0% 100%;
		--black: 0, 0%, 0%;
		--gray-800: 225, 12%, 19%;
		--gray-700: 222, 10%, 25%;
		--gray-600: 222, 9%, 38%;
		--gray-400: 230, 13%, 72%;
		--gray-300: 217, 24%, 87%;
		--gray-200: 218, 44%, 94%;
		--lime: 76, 100%, 69%;
		--blue: 223, 100%, 74%;
		--gradient-start: 180 73% 80%;
		--gradient-end: 223 99% 74%;

		--radius-button: 35px;
		--radius-block: 20px;
	}
}

@layer base {
	body {
		@apply overflow-x-clip bg-white text-black;
	}
}

h1 {
	font-family: var(--font-bebas);
	font-size: 6rem;
	line-height: 100%;
	font-weight: 400;
	color: hsl(var(--black));
	text-transform: uppercase;
}

h2 {
	font-family: var(--font-bebas);
	font-size: 4rem;
	line-height: 100%;
	font-weight: 400;
	color: hsl(var(--black));
	text-transform: uppercase;
}

h3 {
	font-family: var(--font-bebas);
	font-size: 3rem;
	line-height: 100%;
	font-weight: 400;
	color: hsl(var(--black));
	text-transform: uppercase;
}

h4 {
	font-family: var(--font-bebas);
	font-size: 2rem;
	line-height: 100%;
	font-weight: 400;
	color: hsl(var(--black));
	text-transform: uppercase;
}

h5 {
	font-family: var(--font-gilroy-bold);
	font-size: 1.5rem;
	line-height: 123.8%;
	font-weight: 700;
	color: hsl(var(--black));
}

h6 {
	font-family: var(--font-gilroy-bold);
	font-size: 1.25rem;
	line-height: 123.8%;
	font-weight: 700;
	color: hsl(var(--black));
}

p {
	font-family: var(--font-gilroy);
	font-size: 1rem;
	line-height: 120%;
	font-weight: 400;
	color: hsl(var(--black));
}

p.large {
	font-family: var(--font-gilroy);
	font-size: 1.25rem;
	line-height: 120%;
	font-weight: 400;
	color: hsl(var(--black));
}

p.small {
	font-family: var(--font-gilroy);
	font-size: 0.875rem;
	line-height: 120%;
	font-weight: 400;
	color: hsl(var(--black));
}
