@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 225 12% 19%;

		--card: 0 0% 100%;
		/** fix ? */
		--popover: 222 9% 38%;
		--popover-foreground: 230 13% 72%;
		--muted: 240 4.8% 95.9%;

		--border: 218 44% 94%;
		--input: 240 5.9% 90%;
		--ring: 240 10% 3.9%;
		--radius: 1.25rem;

		/* valid */
		--primary: 76 100% 69%;
		--secondary: 223 100% 74%;
		--accent: 0 0% 100%;

		--dark: 225 12% 19%;
		--gray-0: 225 12% 19%;
		--gray-100: 225 12% 19%;
		--gray-200: 222 10% 25%;
		--gray-300: 222 9% 38%;

		--gray-700: 230 13% 72%;
		--gray-800: 217 24% 87%;
		--gray-900: 218 44% 94%;
		--gray-1: 0 0% 100%;
		--white: 0 0% 100%;

		--gradient-start: 180 73% 80%;
		--gradient-end: 223 99% 74%;
	}
}

h1 {
	font-family: var(--font-bebas);
	font-size: 96px;
}

h2 {
	font-family: var(--font-bebas);
	font-size: 64px;
}

h3 {
	font-family: var(--font-bebas);
	font-size: 48px;
}

h4 {
	font-family: var(--font-gilroy-bold);
	font-size: 32px;
}

h5 {
	font-family: var(--font-gilroy-bold);
	font-size: 24px;
}

h6 {
	font-family: var(--font-gilroy-bold);
	font-size: 20px;
}

a {
	font-family: var(--font-gilroy-bold);
	font-size: 16px;
}

a:hover,
a:focus,
a:focus-visible {
	@apply whitespace-nowrap text-primary outline-none;
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		font-size: 16px;
		font-family: var(--font-gilroy);
		@apply text-dark overflow-x-clip bg-white;
	}
}
